<section class="main-header">
    <img src="<%= asset_path "Shirokumatter_logo.png" %>">
</section>

<section class="about">
    <h1>Shirokumatter</h1>
    <p>
    Shirokumatterはしろくまの事をつぶやくページです。<br>
    ※EXAM01課題
     </p>
     <p>
    Shirokumatterはしろくま好きのしろくま好きによるしろくま好きの為のページです<br>
    ※何度も言いますがEXAM01課題
    </p>
</section>
